In [60]:
import pandas as pd

In [61]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
df = pd.read_csv("challenge.csv")

In [62]:
# 2. Check the datatypes of your columns. 
df.head(5)

,Birth Year,End Station Name,Start Station Name,Starttime,Stoptime,Usertype,Bikeid,End Station Id,End Station Latitude,End Station Longitude,Gender,Start Station Id,Start Station Latitude,Start Station Longitude,Tripduration
0,1992,Great Jones St,E 48 St & 5 Ave,2019-08-01 6:44:52 PM,2019-08-01 7:09:26 PM,Subscriber,29904,229.0,40.727434,-73.993790,1,3233.0,40.757246,-73.978059,1473
1,1994,Forsyth St & Broome St,Meserole Ave & Manhattan Ave,2019-08-01 6:44:53 PM,2019-08-01 7:15:11 PM,Customer,39267,531.0,40.718939,-73.992663,2,3110.0,40.727086,-73.952991,1818
2,1992,Henry St & Degraw St,Carroll St & Smith St,2019-08-01 6:44:53 PM,2019-08-01 6:51:04 PM,Subscriber,16390,3315.0,40.684751,-73.999173,1,3382.0,40.680611,-73.994758,371
3,1959,W Broadway & Spring Street,W 27 St & 7 Ave,2019-08-01 6:44:53 PM,2019-08-01 7:00:01 PM,Subscriber,39891,3467.0,40.724947,-74.001659,1,442.0,40.746647,-73.993915,908
4,1964,W 42 St & Dyer Ave,6 Ave & W 33 St,2019-08-01 6:44:53 PM,2019-08-01 7:18:51 PM,Subscriber,19481,3236.0,40.758985,-73.993800,1,505.0,40.749013,-73.988484,2038

In [63]:
df['Tripduration']

0          1473
1          1818
2           371
3           908
4          2038
           ...
1863392     265
1863393     438
1863394     316
1863395     375
1863396     735
Name: Tripduration, Length: 1863397, dtype: int64

In [64]:
# 3. Convert the 'tripduration' column to datetime datatype.
tripduration = pd.to_datetime(df['Tripduration'],unit = "s")
tripduration

0         1970-01-01 00:24:33
1         1970-01-01 00:30:18
2         1970-01-01 00:06:11
3         1970-01-01 00:15:08
4         1970-01-01 00:33:58
                  ...
1863392   1970-01-01 00:04:25
1863393   1970-01-01 00:07:18
1863394   1970-01-01 00:05:16
1863395   1970-01-01 00:06:15
1863396   1970-01-01 00:12:15
Name: Tripduration, Length: 1863397, dtype: datetime64[ns]

In [65]:
df['Tripduration'] = tripduration
df.head(5)

,Birth Year,End Station Name,Start Station Name,Starttime,Stoptime,Usertype,Bikeid,End Station Id,End Station Latitude,End Station Longitude,Gender,Start Station Id,Start Station Latitude,Start Station Longitude,Tripduration
0,1992,Great Jones St,E 48 St & 5 Ave,2019-08-01 6:44:52 PM,2019-08-01 7:09:26 PM,Subscriber,29904,229.0,40.727434,-73.993790,1,3233.0,40.757246,-73.978059,1970-01-01 00:24:33
1,1994,Forsyth St & Broome St,Meserole Ave & Manhattan Ave,2019-08-01 6:44:53 PM,2019-08-01 7:15:11 PM,Customer,39267,531.0,40.718939,-73.992663,2,3110.0,40.727086,-73.952991,1970-01-01 00:30:18
2,1992,Henry St & Degraw St,Carroll St & Smith St,2019-08-01 6:44:53 PM,2019-08-01 6:51:04 PM,Subscriber,16390,3315.0,40.684751,-73.999173,1,3382.0,40.680611,-73.994758,1970-01-01 00:06:11
3,1959,W Broadway & Spring Street,W 27 St & 7 Ave,2019-08-01 6:44:53 PM,2019-08-01 7:00:01 PM,Subscriber,39891,3467.0,40.724947,-74.001659,1,442.0,40.746647,-73.993915,1970-01-01 00:15:08
4,1964,W 42 St & Dyer Ave,6 Ave & W 33 St,2019-08-01 6:44:53 PM,2019-08-01 7:18:51 PM,Subscriber,19481,3236.0,40.758985,-73.993800,1,505.0,40.749013,-73.988484,1970-01-01 00:33:58

In [66]:
# 4. Check the datatypes of your columns. 
df.dtypes

Birth Year                          int64
End Station Name                   object
Start Station Name                 object
Starttime                          object
Stoptime                           object
Usertype                           object
Bikeid                              int64
End Station Id                    float64
End Station Latitude              float64
End Station Longitude             float64
Gender                              int64
Start Station Id                  float64
Start Station Latitude            float64
Start Station Longitude           float64
Tripduration               datetime64[ns]
dtype: object

In [67]:
# 5. Export the Dataframe as a new CSV file without the index.
df.to_csv("output/bikes.csv")